{% extends 'base.html' %}

{% block content %}
    <div id="field" class="field block-login">
        <div id="c0" class="cell"></div> <div id="c1" class="cell"></div> <div id="c2" class="cell"></div>
        <br>
        <div id="c3" class="cell"></div> <div id="c4" class="cell"></div> <div id="c5" class="cell"></div>
        <br>
        <div id="c6" class="cell"></div> <div id="c7" class="cell"></div> <div id="c8" class="cell"></div>
    </div>
<script src="{{ url_for( 'static', filename='js/game.js')}}"></script>
{% endblock %}